body {
    font-family: sans-serif;
   background-color: white;
    margin-top: 5px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                width:76%;
                min-width: 75%;
                margin: 0 auto;
                color:grey;
                font-family:sans-serif;
                padding: 30px; }
 #madi{
     border-image:black solid 30px;
 }